<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="60">
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_24a54b58c9ccdffe73b795000fc78a2a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_24a54b58c9ccdffe73b795000fc78a2a" ></div>
        
</body>
<script>    
    
            var map_24a54b58c9ccdffe73b795000fc78a2a = L.map(
                "map_24a54b58c9ccdffe73b795000fc78a2a",
                {
                    center: [25.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_96d206794e274c1e937edbf2183ad965 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
            var tile_layer_9fd41eed463188f6e365edb069bf4755 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
            var circle_43a530ce5a17e0b677494b67cb7cef0f = L.circle(
                [36.7753606, 3.0601882],
                {"bubblingMouseEvents": true, "color": "#5a2020", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5a2020", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_e0d4b2334e034c6b2086220b8602d209 = L.popup({"maxWidth": "100%"});

        
            var html_d2c29df18be1e4ee0055f7f46d108b48 = $(`<div id="html_d2c29df18be1e4ee0055f7f46d108b48" style="width: 100.0%; height: 100.0%;">taylor : Algiers : 100</div>`)[0];
            popup_e0d4b2334e034c6b2086220b8602d209.setContent(html_d2c29df18be1e4ee0055f7f46d108b48);
        

        circle_43a530ce5a17e0b677494b67cb7cef0f.bindPopup(popup_e0d4b2334e034c6b2086220b8602d209)
        ;

        
    
    
            var circle_5aa5a190ae1bef99a711b8389c7abe88 = L.circle(
                [49.6079336, 7.8740598],
                {"bubblingMouseEvents": true, "color": "#5a2020", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5a2020", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_ed3e7a076c656c8bc3f0624fc6ca6ff1 = L.popup({"maxWidth": "100%"});

        
            var html_5c5359437f849cac1b092303a355798b = $(`<div id="html_5c5359437f849cac1b092303a355798b" style="width: 100.0%; height: 100.0%;">taylor : Falkenstein : 100</div>`)[0];
            popup_ed3e7a076c656c8bc3f0624fc6ca6ff1.setContent(html_5c5359437f849cac1b092303a355798b);
        

        circle_5aa5a190ae1bef99a711b8389c7abe88.bindPopup(popup_ed3e7a076c656c8bc3f0624fc6ca6ff1)
        ;

        
    
    
            var circle_f7a702aaa46de4131e28cf31880cef26 = L.circle(
                [47.0708678, 15.4382786],
                {"bubblingMouseEvents": true, "color": "#5a2020", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5a2020", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_4e7efaad6fd39148c1458c58111510ff = L.popup({"maxWidth": "100%"});

        
            var html_4747808855e6bf0e5b2c94985cea35ef = $(`<div id="html_4747808855e6bf0e5b2c94985cea35ef" style="width: 100.0%; height: 100.0%;">taylor : Graz : 100</div>`)[0];
            popup_4e7efaad6fd39148c1458c58111510ff.setContent(html_4747808855e6bf0e5b2c94985cea35ef);
        

        circle_f7a702aaa46de4131e28cf31880cef26.bindPopup(popup_4e7efaad6fd39148c1458c58111510ff)
        ;

        
    
    
            var circle_9700c8c6df35237d06159451d0172cd9 = L.circle(
                [46.0050102, 8.9520281],
                {"bubblingMouseEvents": true, "color": "#5a2020", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5a2020", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_5267826e4e90be02a2b73b7b69a99ef9 = L.popup({"maxWidth": "100%"});

        
            var html_f4f61bb24f48f1a9881578e29447d80a = $(`<div id="html_f4f61bb24f48f1a9881578e29447d80a" style="width: 100.0%; height: 100.0%;">taylor : Lugano : 100</div>`)[0];
            popup_5267826e4e90be02a2b73b7b69a99ef9.setContent(html_f4f61bb24f48f1a9881578e29447d80a);
        

        circle_9700c8c6df35237d06159451d0172cd9.bindPopup(popup_5267826e4e90be02a2b73b7b69a99ef9)
        ;

        
    
    
            var circle_6a7fdfaef417ce9ffbedc15cbf159063 = L.circle(
                [59.9133301, 10.7389701],
                {"bubblingMouseEvents": true, "color": "#5a2020", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5a2020", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_945e733393bae139812ac55797d57914 = L.popup({"maxWidth": "100%"});

        
            var html_68ae2362b2947782d0e1e4fc04f0f952 = $(`<div id="html_68ae2362b2947782d0e1e4fc04f0f952" style="width: 100.0%; height: 100.0%;">taylor : Oslo : 100</div>`)[0];
            popup_945e733393bae139812ac55797d57914.setContent(html_68ae2362b2947782d0e1e4fc04f0f952);
        

        circle_6a7fdfaef417ce9ffbedc15cbf159063.bindPopup(popup_945e733393bae139812ac55797d57914)
        ;

        
    
    
            var circle_557827cb4d1ab6b7cd00a5d20d3dc57b = L.circle(
                [50.0596288, 14.446459273258009],
                {"bubblingMouseEvents": true, "color": "#5a2020", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5a2020", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_19ce4247705572374a42dcb63d53b85f = L.popup({"maxWidth": "100%"});

        
            var html_c630d0273bc4510deafaa8698837252a = $(`<div id="html_c630d0273bc4510deafaa8698837252a" style="width: 100.0%; height: 100.0%;">taylor : Prague : 100</div>`)[0];
            popup_19ce4247705572374a42dcb63d53b85f.setContent(html_c630d0273bc4510deafaa8698837252a);
        

        circle_557827cb4d1ab6b7cd00a5d20d3dc57b.bindPopup(popup_19ce4247705572374a42dcb63d53b85f)
        ;

        
    
    
            var circle_1560f7b4dddb94589481fb7063aecbd7 = L.circle(
                [55.6867243, 12.5700724],
                {"bubblingMouseEvents": true, "color": "#511f1f", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#511f1f", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_2908bce9463440186819cb66337e12ac = L.popup({"maxWidth": "100%"});

        
            var html_e5cca196c453d83c8bad830f75579a8c = $(`<div id="html_e5cca196c453d83c8bad830f75579a8c" style="width: 100.0%; height: 100.0%;">taylor2 : Copenhagen : 90</div>`)[0];
            popup_2908bce9463440186819cb66337e12ac.setContent(html_e5cca196c453d83c8bad830f75579a8c);
        

        circle_1560f7b4dddb94589481fb7063aecbd7.bindPopup(popup_2908bce9463440186819cb66337e12ac)
        ;

        
    
    
            var circle_c27598689ea2674ec5f38befc53d244b = L.circle(
                [10.376781300000001, -84.01397213865732],
                {"bubblingMouseEvents": true, "color": "#511f1f", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#511f1f", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_81c0421b807b8210f47a3337468aaec4 = L.popup({"maxWidth": "100%"});

        
            var html_25946bb757ac59c2e2d263b610d60621 = $(`<div id="html_25946bb757ac59c2e2d263b610d60621" style="width: 100.0%; height: 100.0%;">taylor2 : Heredia : 90</div>`)[0];
            popup_81c0421b807b8210f47a3337468aaec4.setContent(html_25946bb757ac59c2e2d263b610d60621);
        

        circle_c27598689ea2674ec5f38befc53d244b.bindPopup(popup_81c0421b807b8210f47a3337468aaec4)
        ;

        
    
    
            var circle_059452a9dd5dae1292f7fe96b42e46f9 = L.circle(
                [48.1371079, 11.5753822],
                {"bubblingMouseEvents": true, "color": "#511f1f", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#511f1f", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_dfa4624730ae0b7bf62dd8f2ce89dce1 = L.popup({"maxWidth": "100%"});

        
            var html_33bc1c344353c13c126a8bc793eec9c6 = $(`<div id="html_33bc1c344353c13c126a8bc793eec9c6" style="width: 100.0%; height: 100.0%;">taylor2 : Munich : 90</div>`)[0];
            popup_dfa4624730ae0b7bf62dd8f2ce89dce1.setContent(html_33bc1c344353c13c126a8bc793eec9c6);
        

        circle_059452a9dd5dae1292f7fe96b42e46f9.bindPopup(popup_dfa4624730ae0b7bf62dd8f2ce89dce1)
        ;

        
    
    
            var circle_1b89b3c78a05cd325419739e1cd53aa4 = L.circle(
                [59.4372155, 24.7453688],
                {"bubblingMouseEvents": true, "color": "#511f1f", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#511f1f", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_adc52f37bed32953ad55cf2840b8eebf = L.popup({"maxWidth": "100%"});

        
            var html_224bd9d87240cf08c5e70d215f8c2f1f = $(`<div id="html_224bd9d87240cf08c5e70d215f8c2f1f" style="width: 100.0%; height: 100.0%;">taylor2 : Tallinn : 90</div>`)[0];
            popup_adc52f37bed32953ad55cf2840b8eebf.setContent(html_224bd9d87240cf08c5e70d215f8c2f1f);
        

        circle_1b89b3c78a05cd325419739e1cd53aa4.bindPopup(popup_adc52f37bed32953ad55cf2840b8eebf)
        ;

        
    
    
            var circle_8ceb750fb08a8d3a6cc5244004b47b76 = L.circle(
                [50.7952074, -1.1210853],
                {"bubblingMouseEvents": true, "color": "#3e1d1d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3e1d1d", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_57a0a175f881033b7054a44106c7ee7b = L.popup({"maxWidth": "100%"});

        
            var html_155aed477b9de81d2eafb5ba2031b081 = $(`<div id="html_155aed477b9de81d2eafb5ba2031b081" style="width: 100.0%; height: 100.0%;">taylor3 : Gosport : 70</div>`)[0];
            popup_57a0a175f881033b7054a44106c7ee7b.setContent(html_155aed477b9de81d2eafb5ba2031b081);
        

        circle_8ceb750fb08a8d3a6cc5244004b47b76.bindPopup(popup_57a0a175f881033b7054a44106c7ee7b)
        ;

        
    
    
            var circle_c90e7a0cd47a464d007621fdc925c84d = L.circle(
                [51.5073219, -0.1276474],
                {"bubblingMouseEvents": true, "color": "#3e1d1d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3e1d1d", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_59df23f3f9adb7df2ec02f84f56bd7df = L.popup({"maxWidth": "100%"});

        
            var html_5776239039a7e86aa5882babce8a1a9a = $(`<div id="html_5776239039a7e86aa5882babce8a1a9a" style="width: 100.0%; height: 100.0%;">taylor3 : London : 70</div>`)[0];
            popup_59df23f3f9adb7df2ec02f84f56bd7df.setContent(html_5776239039a7e86aa5882babce8a1a9a);
        

        circle_c90e7a0cd47a464d007621fdc925c84d.bindPopup(popup_59df23f3f9adb7df2ec02f84f56bd7df)
        ;

        
    
    
            var circle_e3464e9da3c4bd8c0b1b1eb36908e285 = L.circle(
                [32.7174202, -117.1627728],
                {"bubblingMouseEvents": true, "color": "#3e1d1d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3e1d1d", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_93f3d1941147f97496348206bd5056fb = L.popup({"maxWidth": "100%"});

        
            var html_cbd3707e7e01956de15c0bcf3763876c = $(`<div id="html_cbd3707e7e01956de15c0bcf3763876c" style="width: 100.0%; height: 100.0%;">taylor3 : San Diego : 70</div>`)[0];
            popup_93f3d1941147f97496348206bd5056fb.setContent(html_cbd3707e7e01956de15c0bcf3763876c);
        

        circle_e3464e9da3c4bd8c0b1b1eb36908e285.bindPopup(popup_93f3d1941147f97496348206bd5056fb)
        ;

        
    
    
            var circle_581db18496e7219ee5b39d597d27f147 = L.circle(
                [37.7790262, -122.419906],
                {"bubblingMouseEvents": true, "color": "#3e1d1d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3e1d1d", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_a06a136ab7e1a287cda0680fecc52819 = L.popup({"maxWidth": "100%"});

        
            var html_d70e5a94969dbf8821b212f96b2f3e84 = $(`<div id="html_d70e5a94969dbf8821b212f96b2f3e84" style="width: 100.0%; height: 100.0%;">taylor3 : San Francisco : 70</div>`)[0];
            popup_a06a136ab7e1a287cda0680fecc52819.setContent(html_d70e5a94969dbf8821b212f96b2f3e84);
        

        circle_581db18496e7219ee5b39d597d27f147.bindPopup(popup_a06a136ab7e1a287cda0680fecc52819)
        ;

        
    
    
            var circle_13ea81587bddbc7d99945550de417799 = L.circle(
                [37.3361905, -121.890583],
                {"bubblingMouseEvents": true, "color": "#3e1d1d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3e1d1d", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200000, "stroke": true, "weight": 2}
            ).addTo(map_24a54b58c9ccdffe73b795000fc78a2a);
        
    
        var popup_a06b616f93b4d1e04f038095f42c3ce9 = L.popup({"maxWidth": "100%"});

        
            var html_3ac1de3aff030bdc41d78b70f69755cc = $(`<div id="html_3ac1de3aff030bdc41d78b70f69755cc" style="width: 100.0%; height: 100.0%;">taylor3 : San Jose : 70</div>`)[0];
            popup_a06b616f93b4d1e04f038095f42c3ce9.setContent(html_3ac1de3aff030bdc41d78b70f69755cc);
        

        circle_13ea81587bddbc7d99945550de417799.bindPopup(popup_a06b616f93b4d1e04f038095f42c3ce9)
        ;

        
    
</script>